@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Roboto', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media print {
  body *,
  *::before,
  *::after {
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari, Edge */
    print-color-adjust: exact !important; /* Updated property for Firefox */
  }
}
@page {
  size: A4 !important;
  margin: 0 !important;
}

/* Existing Tailwind CSS styles */

/* Additional styles for formatting HTML content */

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

li {
  margin-bottom: 0.5rem;
}

a {
  color: #007bff;
  text-decoration: underline;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

blockquote {
  margin: 0 0 1rem;
}

strong {
  font-weight: bolder;
}

em {
  font-style: italic;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-family: monospace;
  font-size: 1em;
}

code {
  color: inherit;
  word-wrap: break-word;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

th {
  text-align: left;
}

thead th {
  vertical-align: bottom;
}

tfoot td, tfoot th {
  border-top: 1px solid #dee2e6;
}

small, .small {
  font-size: 80%;
  font-weight: 400;
}

/* Beautiful Back Button */
.back-button {
  padding: 10px 20px;
  background: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: background 0.3s;
}

.back-button:hover {
  background: #2980b9;
}

footer {
  text-align: center;
  background-color: #f0f0f0;
  padding: 10px;
}

/* Add more styles as needed */
